/* Colors */
$color-nonmetal: linear-gradient(110deg, rgba(255, 255, 0, .2), rgba(255, 255, 0, .3));
$color-noble-gas: linear-gradient(110deg, rgba(255, 152, 0, .2), rgba(255, 152, 0, .3));
$color-alkali-metal: linear-gradient(110deg, rgba(255, 0, 0, .2), rgba(255, 0, 0, .25));
$color-alkaline-earth-metal: linear-gradient(110deg, rgba(64, 64, 255, .2), rgba(64, 64, 255, .25));
$color-metalloid: linear-gradient(110deg, rgba(140, 190, 0, .2), rgba(140, 190, 0, .3));
$color-post-transition-metal: linear-gradient(110deg, rgba(0, 255, 0, .2), rgba(0, 255, 0, .3));
$color-halogen: linear-gradient(110deg, rgba(255, 255, 0, .2), rgba(255, 255, 0, .3));
$color-transition-metal: linear-gradient(110deg, rgba(0, 128, 255, .2), rgba(0, 128, 255, .3));
$color-lanthanide: linear-gradient(110deg, rgba(0, 255, 255, .25), rgba(0, 255, 255, .35));
$color-actinide: linear-gradient(110deg, rgba(64, 255, 192, .25), rgba(64, 255, 192, .35));
