ul li {
  list-style: none;
}

.h5p-periodic-table-legend-content {
  justify-content: center;
}

#bg-color-nonmetal {
    background-color: #fffecd;
  }
  #bg-color-alkali-metal {
    background-color: #ffcdca;
  }
  #bg-color-alkaline-earth-metal {
    background-color: #d2d3ff;
  }
  #bg-color-transition-metal {
    background-color: #c8e0ff;
  }
  #bg-color-post-transition-metal {
    background-color: #d0fdca;
  }
  #bg-color-metalloid {
    background-color: #dfedc4;
  }
  #bg-color-noble-gas {
    background-color: #ffe3c4;
  }
  #bg-color-halogen {
    background-color: #fffecd;
  }
  #bg-color-lanthanide {
    background-color: #c6feff;
  }
  #bg-color-actinide {
    background-color: #c9fdeb;
  }
  